$lightGreen: #74f1ff;
$color1: #3d1c5f;
$color2: #160b33;
$white: #ffffff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  justify-content: center;
  max-width: 2000px;
  margin: 0 auto;

  .container {
    width: 90%;

    @media screen and (max-width: 900px) {
      width: 100%;
    }

    .link {
      text-decoration: none;
      color: inherit;
    }

    //LOGIN & REGISTER

    .auth {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;

      form {
        display: flex;
        flex-direction: column;
        padding: 50px;
        background-color: $white;
        width: 40%;
        gap: 20px;
        @media screen and (max-width: 900px) {
          min-width: 290px;
        }

        input {
          padding: 10px;
          border: none;
          border-bottom: 1px solid $color1;
        }

        button {
          padding: 10px;
          border: none;
          background-color: $color1;
          cursor: pointer;
          color: $white;
        }

        p {
          font-size: 12px;
          color: #ff0000;
          text-align: center;
        }

        span {
          font-size: 12px;
          text-align: center;
        }
      }
    }

    //NAVBAR

    .navbar {
      .container {
        @media screen and (max-width: 400px){
          flex-direction: column;
        }
        padding: 10px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .logo {
          img {
            width: 120px;
          }
        }

        .links {
          display: flex;
          align-items: center;
          gap: 10px;
          color: $color2;

          h6 {
            font-size: 16px;
            font-weight: 300;
          }

          span {
            cursor: pointer;
            font-weight: bold;
          }

          .write {
            background-color: $lightGreen;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 300;
            border: 1px solid $lightGreen;
            font-size: 16px;

            &:hover {
              background-color: $white;
              border: 1px solid $lightGreen;
              color: $lightGreen;
            }
          }
        }
      }
    }

    //FOOTER

    footer {
      margin-top: 100px;
      padding: 20px;
      background-color: $white;
      border-top: 1px solid $color1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 14px;
      color: $color2;

      img {
        height: 50px;
      }

      span{
        font-size: 14px;
      }
    }

    //HOME

    .home {
      color: $color2;

      .posts {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 150px;

        .post {
          display: flex;
          gap: 100px;

          @media screen and (max-width: 900px) {
            flex-direction: column;
            gap: 10px;
          }

          &:nth-child(2n + 1) {
            flex-direction: row-reverse;

            @media screen and (max-width: 900px) {
              flex-direction: column;
            }
          }

          .img {
            flex: 2;
            position: relative;

            @media screen and (max-width: 900px) {
              width: 100%;
            }

            &::after {
              content: "";
              width: 100%;
              height: 100%;
              background-color: $color1;
              position: absolute;
              top: 20px;
              left: -20px;
              z-index: -1;

            }

            @media screen and (max-width: 900px) {
              &::after {
                display: none;
              }
            }

            img {
              width: 100%;
              max-height: 400px;

              @media screen and (max-width: 900px) {
                max-height: 300px;
              }
            }
          }

          .content {
            flex: 3;
            display: flex;
            flex-direction: column;
            gap: 30px;
            justify-content: center;

            @media screen and (max-width: 900px) {
              padding: 0 15px;
            }

            h1 {
              font-size: 30px;
            }

            p {
              font-size: 20px;
              text-align: justify;
            }

            .link-btn {
              width: max-content;
              padding: 10px 20px;
              border: none;
              cursor: pointer;
              background-color: $white;
              border: 1px solid $color1;
              color: $color1;
              text-decoration: none;
              font-size: 14px;

              &:hover {
                border: 1px solid $color1;
                background-color: $color1;
                color: $white;
              }

            }
          }
        }
      }


    }

    //SINGLE

    .single {
      display: flex;
      gap: 50px;
      @media screen and (max-width: 900px) {
        flex-direction: column;
      }

      .content {
        flex: 5;
        display: flex;
        flex-direction: column;
        gap: 30px;

        img {
          width: 100%;
          height: 350px;
        }

        .user {
          display: flex;
          align-items: center;
          gap: 10px;
          color: $color2;
          @media screen and (max-width: 900px) {
            margin-left: 20px;
          }

          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
          }

          .info {
            display: flex;
            flex-direction: column;

            span {
              font-weight: bold;
              font-size: 12px;
            }

            .userName {
              line-height: 15px;
              font-size: 9px;
            }
          }
        }

        .edit {
          display: flex;
          gap: 5px;

          .img {
            width: 20px;
            height: 20px;
            cursor: pointer;
            color: $color1;
          }
        }

        #title-post {
          font-size: 30px;
          color: $color2;
          @media screen and (max-width: 900px) {
            margin-left: 20px;
          }
          
        }

        #content-post{
          text-align: justify;
          color: $color2;
          font-size: 16px;
          @media screen and (max-width: 900px) {
            padding: 0 20px;
          }
        }
      }

      .menu {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 25px;

        h1 {
          font-size: 20px;
          color: $color2;
          @media screen and (max-width: 900px) {
            margin-left: 10px;
          }
        }

        .post {
          display: flex;
          flex-direction: column;
          gap: 10px;

          img {
            width: 100%;
            height: 250px;
            object-fit: fill;
            
          }

          h2 {
            color: $color1;
          }

          .link-btn {
            width: max-content;
            padding: 7.5px 15px;
            border: none;
            cursor: pointer;
            color: $color1;
            background-color: $white;
            border: 1px solid $color1;
            text-decoration: none;

            &:hover {
              border: 1px solid $white;
              background-color: $color1;
              color: $white;
            }

            @media screen and (max-width: 900px) {
              margin-left: 10px;
            }
          }
        }
      }
    }

    //WRITE

    .add {
      margin-top: 20px;
      display: flex;
      gap: 20px;

      .content {
        flex: 5;
        display: flex;
        flex-direction: column;
        gap: 20px;

        input {
          padding: 10px;
          border: 1px solid $color2;
        }

        .editorContainer {
          height: 101vh;
          overflow: hidden;
          overflow-x: hidden;
          border: 1px solid $color2;
          padding-bottom: 40px;

          .editor {
            height: 100%;
            border: none;
          }
        }
      }

      .menu {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .item {
          border: 1px solid $color2;
          padding: 10px;
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          font-size: 12px;
          color: $color1;
          height: calc(100% / 3);

          img {
            width: 100%;
            height: 100%;
          }

          h1 {
            font-size: 20px;
          }

          .file {
            text-decoration: underline;
            cursor: pointer;
          }

          .buttons {
            display: flex;
            justify-content: space-between;

            :first-child {
              cursor: pointer;
              color: $color1;
              background-color: $white;
              border: 1px solid $color1;
              padding: 3px 5px;
            }

            :last-child {
              cursor: pointer;
              color: $white;
              background-color: $color1;
              border: 1px solid $color1;
              padding: 3px 5px;
            }
          }

          .cat {
            display: flex;
            align-items: center;
            gap: 2px;
            color: $color1;
          }
        }
      }
    }

    //CALC
    .this-calc-container{
      width: 120px;
      height: 60px;
      position: fixed;
      bottom: 2%;
      right: 2%;
      z-index: 10;
      background-color: #160b33;
      padding: 5px;
      border-radius: 10px;

      a img {
        width: 100%;
        height: 100%;
        transition: 650ms;
      }

      
    }
    .this-calc-container:hover {
      width: 150px;
      height: 75px;
      transition: 650ms;
    }
  }
}